<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ataulm.whatsnext">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

    </application>

</manifest>
