<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.whatsnext">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".WhatsNextApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <activity android:name=".account.SignInActivity" />
    <activity android:name=".film.FilmActivity" />
    <activity android:name=".search.SearchActivity" />

    <activity-alias
      android:name=".launcher"
      android:targetActivity=".search.SearchActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity-alias>

  </application>

</manifest>
